*,html{margin:0;}
body{margin:0;font-family: serif;}
.container{text-align: center;}
.nav{position:fixed;left:0;background-color: aquamarine;height:47vw; width:4em;
    background: rgba(127, 255, 212, 0.703);
    box-shadow: 0 8px 32px 0 rgba(239, 239, 239, 0.444);
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 3px solid rgba(226, 226, 226, 0.279);
}
.nav-link{display:block;border:1px solid rgb(43, 43, 43);border-radius:2em; height:3em;width:3em;text-align: center;margin:0 0.5em;margin-top:15vh;overflow:hidden;}
.nav-link img{width:2em;padding:0.5em;
    background: rgba(112, 238, 196, 0.703); 
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );}
.content{width:100vw;background-color: rgb(36, 36, 36);}
.space{border:0px solid rgb(255, 255, 255);height:10vh;font-size: 2em;}
.content1{padding-left:3em;border:opx solid rgb(255, 101, 101);height:90vh; color:white;font-size:2em; text-align: left;display:flex;}
.profile{border:2px solid rgba(127, 255, 212, 0.703);border-radius:50%;}
.ls{padding:2em;}
.rs{padding:2em;}
#contact1{height:2em;color:aquamarine;line-height:2em;}
#contact1 img{background-color:aquamarine;height:1em;}
.email{display:inline-block;}